.body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(0, 0, 0));
    height: 100%;
    padding: 0;
    margin: 0;
}

#img1 {
    width:100px;
	height:70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titlu {
    color: rgb(202, 0, 34);
    text-align: center;
    font-family: Verdana, sans-serif;
}
.titlu2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Tahoma, sans-serif;
}

.div1 {
    background-color: #929292;
    height: 270px;
}

.div2 {
    font-family: Trebuchet MS, sans-serif;
    font-size: 20px;
    text-align: center;
}

.topnav {
    background-color: rgb(180, 28, 28);
    overflow: hidden;
  }

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Trebuchet MS, sans-serif;
}

.topnav a:hover {
    background-color: #6d1111;
    color: white;
}

.topnav a.active {
    background-color: #6d1111;
    color: white;
    font-family: Trebuchet MS, sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80rem;
    background-color: rgb(180, 28, 28);
    margin: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
  
.flex-container > div {
    background-color: #ffffff;
    width: 30rem;
    margin: 20px;
    line-height: 20px;
    padding: 50px;
    font-size: 20px;
}

#img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:350px;
	height:100px;
}

.portfolio-container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    width: 80rem;
    align-items: center;
    margin: auto;
}

.portfolio-img{
    margin: 10px;
    width: 350px;
	height: 200px;
}

@media(max-width: 991px) {
    .portfolio-container{
        width: 80%;
        flex-direction: column;
    }

    .flex-container{
        width: 75%;
        flex-direction: column;
    }
}

@media(max-width: 768px) {
    .portfolio-container{
        width: 100%;
        flex-direction: column;
    }

    .flex-container{
        width: 90%;
        flex-direction: column;
    }

    .flex-container > div {
        width: 60%;
    }
}







.button {
    background-color: rgb(180, 28, 28);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }


  input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #929292;
    background-color: #e9e9e9;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

  }
  
  input[type=text]:focus {
    border: 3px solid black;
  }

  .car {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

  .text {
    text-align: center;
    font-family: Trebuchet MS, sans-serif
  }

  .hr {
    height:2px;
    border-width:0;
    color:#6d1111;
    background-color:#6d1111;
  }